<h3>Edit:</h3>

<form action="/workouts/<%=@workout.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label> Workout:</label>
  <input type="text" name="title" value="<%=@workout.title %>"> </br>

  <div class="control">
    <label for="url"> Link:</label>
 <input type="text" name="link" value="<%=@workout.link%>"> </br>
  </div>
  
  <label> Change Category: </label>
    <%Category.all.each do |category|%>
    <input type="radio" name="workout[category_id]" id="<%= category.id%>" value="<%=category.id%>" <%='checked' if @workout.category==category %> > <%=category.title%></input>
  <%end%></br>
   <input type="submit" id="submit" value="Update">
  </form>
  <form action="/workouts/<%= @workout.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="Delete">
  <input type="submit" value="Delete">
</form>

