<h3>Edit:</h3>

<form action="/workouts/<%=@workout.id %>" method="POST">
  <label> Category </label>
  <input type="text" name="title" value="<%=@category.title %>"> </br>
  <label> Workout:</label>
  <input type="text" name="title" value="<%=@workout.title %>"> </br>

  <div class="control">
    <label for="url"> Link:</label>

          <input type="text" name="link" value="<%=@workout.link%>"> </br>
  </div>
   <label> Category </label>
  <input type="text" name="title" value="<%=@category.title %>"> </br>


  <label> Change Category: </label>
    <%Category.all.each do |category|%>
    <input type="radio" name="workout[category_id]" id="<%= category.id%>" value="<%=category.id%>" <%='checked' if @workout.category==category %> > <%=category.title%></input>
  <%end%></br>
    <input type="submit" value="Update">

  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

</form>