<p> Here are your Categories, <%= @user.username %>
<% @user.categories.each do |category| %>
  <ul>
    <li><a href="/categories/<%=category.id%>"><%= category.title %></a></li>
  </ul>
<% end %>

<html>
  <h1><a href ="/categories/<%=@category.slug%>"><%=@category.title%></a></h1>
  
  <%@category.workouts.each do |workout|%>
    <li><a href="/workouts/<%=workout.slug%>"><%=workout.title%></a></br>
    <li><a href="/workouts/<%=workout.slug%>"><%=workout.link%></a></br>


    </a></li>
  <%end%>