
  <h3><%=@category.title%></h3>

  <%@category.workouts.each do |workout|%>
    <h4><%=workout.title%>: </h4>
    <a href><%=workout.link%></a></br>
      <a href="/workouts/<%=workout.id%>"> Edit Workout </a>

  <%end%>

<form action="/categories/<%= @category.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">